
#appledocs
documentation

# emacs and vim
*~
(.*/)?\#[^/]*\#$
*.swp

# Ruby
.ruby-version
cucumber/Gemfile.lock
.irb-history
.pry-history
cucumber/reports
Gemfile.lock

# Test Cloud
bin/xtc.sh
xtc-submit

# JetBrains
.idea

# MacOS
.DS_Store

## Build generated
build/
tmp
Products

# Info.plist preprocessor files
TestApp/App/InfoPlist.h
AppStub/InfoPlist.h

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

