variables:
  # `mainJob` variable points to the matrix case that will be the main case
  # it will publish artifacts to the Azure Blob
  mainJob: 'Mojave-Xcode-10.2.1'

trigger:
  tags:
    include:
    - '*'
  branches:
    include:
    - master
    - develop
pr:
  branches:
    include:
    - master
    - develop

jobs:

- job:
  strategy:
    matrix:
      Mojave-Xcode-10.2.1:
        IMAGE_POOL: 'macOS-10.14'
        XCODE_VERSION: '10.2.1'
      Mojave-Xcode-11.0:
        IMAGE_POOL: 'macOS-10.14'
        XCODE_VERSION: '11'
  pool:
    vmImage: $(IMAGE_POOL)

  steps:

  - script: |
      set -e
      sudo xcode-select --switch "/Applications/Xcode_$(XCODE_VERSION).app/Contents/Developer"
      echo "Xcode version: $(xcrun xcodebuild -version)"
      echo "Xcode path: $(xcrun -f xcodebuild)"
      echo "Xcode select path: $(xcode-select --print-path)"
    displayName: "Select Xcode $(XCODE_VERSION)"


  - script: |
      set -e
      ruby -v
      echo -e "install: --no-document --env-shebang\nupdate:  --no-document --env-shebang" > ~/.gemrc
      bundle install
    displayName: "Prepare Ruby Environment"

  - script: |
      set -e
      git clone https://$(GitHubAccessToken)@github.com/xamarinhq/calabash-codesign.git
      calabash-codesign/apple/create-keychain.sh
    displayName: "Download and install keychain"

  - script: make app-agent
    displayName: "Make app-agent"

  - script: make ipa-agent
    displayName: "Make ipa-agent"

  - script: make test-ipa
    displayName: "Make test-ipa"

  - script: make test-app
    displayName: "Make test-app"

  - script: make unit-tests
    displayName: "Make unit-tests"

  - script: bundle exec bin/ci/cucumber.rb
    displayName: "exec cucmber"
    # We have to skip cucmber tests for Xcode 11 due to its instability.
    # This tests will be enabled for the stable Xcode 11 release
    condition: and(succeeded(), ne(variables['XCODE_VERSION'], '11'))

  # azureStorage* env vars are defined in the pipeline UI as secret variables
  - bash: "./bin/ci/az-publish.sh"
    env:
      AZURE_STORAGE_ACCOUNT: $(azureStorageAccount)
      AZURE_STORAGE_KEY: $(azureStorageKey)
      AZURE_STORAGE_CONNECTION_STRING: $(azureStorageConnectionString)
      SOURCE_BRANCH: $(Build.SourceBranch)
    displayName: "Publish to Azure Blob Storage"
    condition: and(succeeded(), eq(variables['Agent.JobName'], variables['mainJob']), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))

  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFiles: 'cucumber/reports/junit/*.xml'
      failTaskOnFailedTests: true
    condition: always()