<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>152</string>
	<key>CFBundleShortVersionString</key>
	<string>823.10.3</string>
	<key>CFBundleVersion</key>
	<string>823.10.3</string>
	<key>ProjectName</key>
	<string>MobileDevice</string>
	<key>SourceVersion</key>
	<string>823010003000000</string>
</dict>
</plist>
